<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Freddie Swift. It uses data from mapbox.com and weatherstack.com.</p>
        <p>The site makes a call to the mapbox API to geocode the location given in the search bar. This location is then given to the weatherstack API to find
            the current weather for the given location.
        </p>
    </div>
    
    {{>footer}}
</body>
</html>